.container .mainsections .charts .sales-chart .infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .mainsections .charts .sales-chart{
    background-color: white;
    width: 35%;
    border-radius: 10px;
    padding: 30px;
}

.container .mainsections .charts .sales-chart .infos p{
    color: gray;
}